// Colors
$black: hsl(0deg 0% 4%);
$white: hsl(0deg 0% 100%);
$dark: hsl(0deg 0% 20%);
$light: hsl(0deg 0% 96%);
$primary: hsl(210deg 60% 50%);
$colors: (
  "danger": hsl(5deg 60% 55%),
  "warning": hsl(35deg 75% 55%),
  "success": hsl(140deg 30% 50%)
);
$border-color: hsl(0deg 0% 80%);
$link-color: hsl(225deg 75% 50%);
